.active {
  color: #638c2b !important;


}

.ora {
  color: rgb(223, 145, 1) !important;


}

.fondoaguacate {
  background: rgb(176, 204, 100);
  background: linear-gradient(0deg, rgba(176, 204, 100, 1) 25%, rgba(246, 235, 189, 1) 25%);

}

.botonexp {
  background-color: transparent;
  border-width: .2em;
  border-color: #638c2b;
  color: rgb(223, 145, 1);
  font-size: .8em;
  padding: 0em 1em;
}

.fondofooter {
  background: rgba(228, 228, 228, 1)
  /* background: linear-gradient(0deg, rgba(104, 140, 44, 1) 35%, rgba(228, 228, 228, 1) 35%, rgba(228, 228, 228, 1) 65%, rgba(255, 255, 255, 1) 65%); */

}

.bordeic {
  background-color: green;
  border-radius: 0.5em;
  border: 2px white solid;
  padding: .8em;

}

.footstyle a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;

}


/* mq para borrar "zafrumex" en dispositivos moviles */
/* cree .del para marcar las imagenes a borrar */
@media (max-width: 950px) {
   .del {
  visibility:hidden;
  }
  }